/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    background-color: #000;
}

h1, h2 {
    font-family: 'Inter';
    color: white;
}